.Project img {
  max-width: 500px !important;
  border-radius: 10px;
}
.Project {
  justify-content: center;
  gap: 10px;
  margin: 30px 0;
}
.Project h2 {
  font-family: "Playfair Display";
  font-size: 50px;
  margin-bottom: 20px;
}
.projectDescription {
  font-family: "Poppins";
  font-size: 18px;
  color: rgba(39, 33, 66, 0.7);
  margin-bottom: 40px;
}
.Project a {
  font-family: "Poppins";
  font-size: 16px;
  text-align: center;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 10px;
  padding: 15px 30px;
  text-decoration: none;
}
.Project .description {
  text-align: left;
}
@media (max-width: 1100px) {
  .Project .image {
    display: none;
  }
  .Project .description {
    text-align: center;
  }
}
