:root {
  --branding-color: #6c63ff;
  --primary-color: #f9f7fe;
}

body {
  background-color: var(--primary-color);
  text-align: center;
  padding: 30px 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
