.navigation-bar {
  padding: 50px 120px 0 !important;
}
.navbar-items {
  display: flex;
  flex-direction: row-reverse;
}
.navigation-bar {
  padding: 0 120px !important;
}
@media (max-width: 700px) {
  .navigation-bar {
    padding: 10px 0 !important;
  }
}
